<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<div>
   <div style="float: left">
       <img src="timg.jpg">
   </div>
   <div id="headpic" class="headpic" style="float: left;padding-top: 200px">
   <ul class="main-entrance">
       <li class="first-li" style="background-color: cornflowerblue;width: 200px">
           <a target="_blank" href="">
               <h3 class="clearfix">
                   <i class="fl"></i>
                   <div class="enter-title fl">商家入驻</div>
               </h3>
               <p class="line2">商家、配送、城市代理</p>
           </a>
       </li>
       <li class="third-li" style="background-color: gold;width:200px" >
           <a href="/main">
               <h3 class="clearfix">
                   <i class="fl"></i>
                   <div class="waimai-title fl">我要点外卖</div>
               </h3>
               <p class="line2">快捷下单，一键点餐</p>
           </a>
       </li>
   </ul>
   </div>
</div>
</body>
</html>